services:
  prometheus:
    image: prom/prometheus:latest
    container_name: materio-prometheus
    restart: unless-stopped
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - monitoring-net

  grafana:
    image: grafana/grafana:latest
    container_name: materio-grafana
    restart: unless-stopped
    ports:
      - '9091:3000'
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - monitoring-net

networks:
  monitoring-net:
    name: materio-monitoring
